nav#navbar-main.navbar.navbar-light {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.navbar-light {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

nav#navbar-main.navbar.navbar-expand-ig.navbar-light.compensate-for-scrolibar {
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;


}

// h1 h2 h3 h4 h5 h6{
//     font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;

// }

.portrait-title h2{
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.portrait-title h3{
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

// body{
//     font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
// }

// .container.row.section-heading.col-12.col-lg-8 h1{
//     font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
// }

.page-body section div div div h1{
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}

.page-body section div div div div{
    font-family: "Ovo", "Georgia", "STZhongsong", "Microsoft YaHei", serif;
}